.about {
    font-size: 2em;
    text-align: justify;
}

.bottle-drinks{
    font-size: 3.5em;
    font-weight: 600;
    color: #d62229 !important
}
.H3 {
    font-weight: 500;
    color: #d62229 !important;
}